<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>MY NODE APP</title>
</head>

<body>

  <div class="">
    <div class="">
      <div class="well" style="background-color: #3b5998 ;color: #fff ">
        <h1 >Node CRUD</h1>
      </div>
    </div>
    <div class="">
      <div class="" style="text-align:center" >
        <h1>Welcome</h1>
        <a href="/employee">start >></a>
      </div>
    </div>
  </div>

</body>
</html>
